@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/ubuntu-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('fonts/ubuntu-bold.ttf'), local('Ubuntu-Bold'), url(fonts/ubuntu-bold.ttf) format('truetype');
}

body {
    font-family: Ubuntu;
    
}

.my-button {
  background-color: #5dade2; 
  border: none;  
  color: white;
  padding: 08px 18px;
  border-radius: 4px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.my-a:link, my-a:visited {
  background-color: #5dade2;
//  color: white; 
  padding: 08px 18px;
  text-align: center;
  text-decoration: none;
   display: inline-block;
}

.my-a:hover, a:active {
  background-color: #aed6f1;
}
