@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(fonts/ubuntu-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('fonts/ubuntu-bold.ttf'), local('Ubuntu-Bold'), url(fonts/ubuntu-bold.ttf) format('truetype');
}

body {
    font-family: Ubuntu;
    
}

.my-button {
  background-color: #581845;
  border: none;  
  color: white;
  padding: 08px 18px;
  border-radius: 4px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.my-button:hover {
  background-color: #86415b;
  color: white;
  padding: 08px 18px;
  border: 2px solid #86415b;
}
