#big-logo
  padding-bottom 20px
  max-width 500px
  padding-bottom 0
  width 100%

#main-title
  color #434343
  position relative
  margin-top 0
  font-weight 500
  font-size 250%

#secondary-title
  max-width 35rem
  line-height 1.3
  color #777777
  margin 1.8rem auto

#get-started-button
  border-color: #dbdbdb
  border-width: 1px
  color #363636
  cursor pointer
  justify-content center
  padding-bottom calc(.5em - 1px)
  padding-left 1em
  padding-right 1em
  padding-top calc(.5em - 1px)
  text-align center
  white-space nowrap
  -webkit-appearance none
  align-items center
  border 1px solid transparent
  border-radius 4px
  box-shadow none
  height 2.5em
  line-height 1.5
  vertical-align top
  color #ffffff
  background-color #ff634d
  font-size 150%

#features
  border-top 1px solid #eaecef
  padding 1.2rem 0
  margin-top 2.5rem
  display flex
  flex-wrap wrap
  align-items flex-start
  align-content stretch
  justify-content space-between

.feature-left, .feature-right
  font-size 120%

.feature-left
  width 100%
  border-left 5px solid #ff634d
  padding 6px 15px
  margin-bottom 10px
  i
    margin-right 10px

.feature-right
  width 100%
  border-right 5px solid #777777
  padding 6px 15px
  text-align right
  margin-bottom 10px
  i
    margin-left 10px

.page p img
  box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)

a .icon.outbound
  vertical-align text-bottom
  padding-left 2px

.navbar .site-name
  display none!important


